@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    color: #36454F
}


h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

/* page background styling */
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/cassette-5986249_1280.png') no-repeat center center;
    background-color: purple;
    
    background-size: cover;
    


}


#home {

    width: 40rem;
    height: 30rem;
    border-radius: 4px;
    width: 80%;
    height: 28rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #E513FC;

}


/* style text link to quiz page */
#home-btn {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
}

/* style play button icon */
.fa-play {
    margin-left: 1rem;
    font-size: 5rem;
}

/* quiz area styling */
.quiz-container {
    width: 40rem;
    height: 30rem;
    background-color: #73D9FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
}

/* #quiz {
    background-color: #73D9FF;
} */

/* counters container at top of quiz */
.counter-container {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* counter container text */
.counter-container p {
    font-weight: bold;
    border: 2px solid #36454F;
    border-radius: 4px;
    padding: 0.25rem;
    width: 50%;
}

/* style question container  */
.question-container {
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #36454F;
    border-radius: 4px;
}


/* style question text */
.question-container h1 {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
}

/* answers container */
.answers-container {
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* four answer boxes */
.answer-box {
    width: 45%;
    height: 3rem;
    border: 2px solid #36454F;
    padding-left: 0.5rem;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    
}

/* answer box text styling */
.answer-box p {

    cursor: pointer;
    font-weight: 500;
    
}

.answer {
    padding-right: 1rem;
}





/* media queries for smallest mobile phone */

@media(min-width : 300px) and (max-width : 576px) {
    .quiz-container, #home {
        width: 90%;
        height: 80vh;
    }

    #home p {
        padding: 2rem;
    }
    

    .counter-container p {
        font-size: 0.8rem;
    }

    .question-container {
        height: 10rem;
    }

    .question-container h1 {
        font-size: 1rem;
    }

    .answers-container {
        flex-direction: column;

    }

    .answer-box {
        width: 100%;
    }

    
}

/* media queries for small tablet */
@media(min-width : 576px) and (max-width : 768px) {
    .quiz-container, #home {
        width: 90%;
        height: 80vh;
    }

    

    .counter-container p {
        font-size: 1rem;
    }

    .question-container {
        height: 8rem;
    }

    .question-container h1 {
        font-size: 1rem;
    }

}